$black: #1c1124;
$white: #e5ebe6;
$bronze: #3a3135;
$green: #8dd67b;
$bronze-hover: #4e4c4c;
$light-bronze: #d3c8b3;
$orange: #de774e;
$blue: #4a51bd;
$light-green: #dff0d8;
$font-light: #fafafa;


body {
  margin: 0;
  padding: 0;
  background-image: url('../images/table.jpg');
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Merriweather Sans', sans-serif;
}
