$black: #1c1124;
$white: #e5ebe6;
$bronze: #3a3135;
$green: #8dd67b;
$bronze-hover: #4e4c4c;
$light-bronze: #d3c8b3;
$very-light-bronze: #f7f1f162;
$orange: #de774e;
$blue: #4a51bd;
$light-green: #dff0d8;
$font-light: #fafafa;


body {
  margin: 0;
  padding: 0;
  background-image: url('../images/table.jpg');
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Merriweather Sans', sans-serif;
}

.link {
  
  display: inline-block;
  width: 164px;
  height: 14px;
  padding: 2px 0;
  margin-top: 10px;
  background-color: $light-bronze;
  border-radius: 30px 10px 20px;
  box-shadow: 1px 1px 10px 1px black;
  font-size: 12px;
  font-weight: bolder;
  transition: all 0.3s ease 0.04s;
  text-align: center;
  text-decoration: none;
  color: black;
  &:hover {
    background-color: $green;
  }

  
  .active{
    background-color: $white;
  }
}
